$white-color: #ffffff;
$black: #000000;
$darkgrey: #343c3d;
$lightwhiteclr: #f2f3f5;
$link: #2999c9;
$gridheader: #EAEEF0;
$grey: #333333;
$formlabel: #343e45;
$breadcrumd-color: #242424;
$main-content: #F2F2F2;
$row-border: #F3F3F3;
$candidate-name: #2D2D2D;
$grey-label: #8A8A8A;
$seperator: #E6E6E6;
$redlabel: #E02020;

