<div class="tpm-view-offer">
<div class="tpm-view-offer__title">Offer Extended</div>
<div class="tpm-view-offer__content">
  <!--repeat row div for dynamic data-->
  <div class="tpm-view-offer__row">
    <div class="tpm-view-offer__cand-icon">
      <img src="https://www.bigstockphoto.com/images/homepage/module-6.jpg" />
    </div>
    <div class="tpm-view-offer__cand-details">
      <div class="tpm-view-offer__cand-name">Anil Kapoor</div>
      <div class="tpm-view-offer__cand-role">
        Director, Piramal Enterprises
      </div>
      <div class="tpm-view-offer__cand-location">Mumbai</div>
    </div>
    <div class="tpm-view-offer__cand-offer">
      <div class="tpm-view-offer__cand-role">Offer Extended on</div>
      <div class="tpm-view-offer__cand-value">21 Jul 2020</div>
    </div>
    <div class="tpm-view-offer__cand-offer">
      <div class="tpm-view-offer__cand-role">Offer Accepted on</div>
      <div class="tpm-view-offer__cand-value">23 Jul 2020</div>
    </div>
    <div class="tpm-view-offer__cand-offer">
      <div class="tpm-view-offer__cand-role">Date of Joining</div>
      <div class="tpm-view-offer__cand-value">21 Sep 2020</div>
    </div>
    <div class="tpm-view-offer__cand-offer" (click)="openOption()">
      <div class="tpm-view-offer__cand-role">Joining status</div>        
      <div class="tpm-view-offer__cand-status">
        <span class="tpm-view-offer__cand-status-icon spriteimage success"></span>
        <span class="tpm-view-offer__cand-status-icon spriteimage dropdown"></span>
      </div>
      <div *ngIf="joiningStatusOption" [ngClass]="joiningStatusOption ? 'success' : 'danger'">
        myoption
      </div>
    </div>
    <div class="tpm-view-offer__cand-offer last bcheck">
      <div class="tpm-view-offer__cand-role">B.V</div>        
      <div class="tpm-view-offer__cand-status">
        <span class="tpm-view-offer__cand-status-icon spriteimage success"></span>
        <span class="tpm-view-offer__cand-status-icon spriteimage dropdown"></span>
      </div>
    </div>
    <div class="tpm-view-offer__cand-comments">
      Metus etiam. Platea aliquet vulputate. Egestas. Lacinia ultrices. Pharetra. Lacinia ultrices QuisqueQuisque.
    </div>
    <div class="tpm-view-offer__option">
      <span class="tpm-view-offer__option-icon"></span>
    </div>
  </div>
</div>
</div>
