<div class="tpm-view-dropped">
<div class="tpm-view-dropped__title">Dropped</div>
<div class="tpm-view-dropped__content">
  <!--repeat row div for dynamic data-->
  <div class="tpm-view-dropped__row">
    <div class="tpm-view-dropped__cand-icon">
      <img src="https://www.bigstockphoto.com/images/homepage/module-2.jpg" />
    </div>
    <div class="tpm-view-dropped__cand-details">
      <div class="tpm-view-dropped__cand-name">Sridhar Joshi</div>
      <div class="tpm-view-dropped__cand-role">
        Director, Primal Enterprises
      </div>
      <div class="tpm-view-dropped__cand-location">Mumbai</div>
    </div>
    <div class="tpm-view-dropped__cand-dropped">
      <div class="tpm-view-dropped__cand-status-icon spriteimage nohire"></div>
      <div class="tpm-view-dropped__cand-role">No Hire</div>
      <div class="tpm-view-dropped__cand-value">21 Jul 2018</div>
    </div>
    <div class="tpm-view-dropped__cand-dropped">
      <div class="tpm-view-dropped__cand-status-icon spriteimage nohire"></div>
      <div class="tpm-view-dropped__cand-role">No Hire</div>
      <div class="tpm-view-dropped__cand-value">01 Jul 2020</div>
    </div>
    <div class="tpm-view-dropped__cand-dropped vcenter last">
      <div class="tpm-view-dropped__cand-status-icon spriteimage calendar"></div>
      <div class="tpm-view-dropped__cand-value">01 Jul 2020</div>
    </div>
    <div class="tpm-view-dropped__cand-dropped vcenter last">
      <div class="tpm-view-dropped__cand-status-icon spriteimage calendar"></div>
      <div class="tpm-view-dropped__cand-value">01 Jul 2020</div>
    </div>
    <div class="tpm-view-dropped__cand-dropped vcenter ref-check">
      <div class="tpm-view-dropped__cand-reference">4</div>
    </div>
    <div class="tpm-view-dropped__cand-dropped vcenter ref-check last">
      <div class="tpm-view-dropped__cand-reference">3</div>
    </div>
    <div class="tpm-view-dropped__cand-comments">
      Metus etiam. Platea aliquet vulputate. Egestas. Lacinia ultrices. Pharetra. Lacinia ultrices QuisqueQuisque.
    </div>
    <div class="tpm-view-dropped__option">
      <span class="tpm-view-dropped__option-icon"></span>
    </div>
  </div>

</div>
</div>
